<ul class="list-group">
  <li *ngFor="let article of articles"
       class="list-group-item">
    {{article.id}} |
    {{article.titre}} |
    <button class="btn btn-link" (click)="onDetail(article.id)">Details</button>
  </li>
</ul>

{{singleArticle.id}}








<div *ngIf="articleSelect != null">
  {{articleSelect.id}} |
  {{articleSelect.titre}} |
  {{articleSelect.contenu}}
</div>
